
<link rel="stylesheet" href="css/footer.css">


<footer id="layout-footer">
    <div>
        <p>
            &#169; Coding Ninjas. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a id="" href="users/sign-out"> Signout </a>
                </li>
                
            </ul>
        </nav>
    </div>
</footer>