<link rel="stylesheet" href="css/footer.css">
<footer>
<div id="footer"> 
<div id="rights">
    <h2>@ Vishal_7785 all rights reserved</h2>
</div>
<div id="pages">
    <div id="Home">
        <a id="home" href="/">Home</a>
    </div>
    <div id="Profile">
        <a id="profile" href="/users/profile">Profile</a>
    </div>
</div>
<div id="Signout">
    <a id="signout" href="/users/sign-out">Sign&nbspOut</a>
</div>
</div>
</footer>