<!-- <link rel="stylesheet" href="css/footer.css">
<footer>
<div id="footer"> 
<div id="rights">
    <h2>@ Coding ninjas all rights reserved</h2>
</div>
<div id="pages">
    <div id="Home">
        <a id="home" href="/">Home</a>
    </div>
    <div id="Profile">
        <a id="profile" href="/users/profile">Profile</a>
    </div>
</div>
<div id="Signout">
    <a id="signout" href="/users/sign-out">Sign&nbspOut</a>
</div>
</div>
</footer> -->


<footer id="layout-footer">
    <div>
        <p>
            &#169; Coding Ninjas. All Rights Reserved
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>