<link rel="stylesheet" href="css/header.css">
<header>
    <div id="header">
        <div id="Heading">
            <h2 id="heading">Codeial</h2>
        </div>
        <div id="signin">
            <a id="Signin" href = "/users/signin">Sign&nbspIn</a>
        </div>
        <div id="signup"> 
            <a id="Signup" href = "users/signup"> Sign&nbspUp</a>
        </div>
    </div>
    
</header>