<link rel="stylesheet" href="css/header.css">
<header>
    <div id="header">
        <div id="Heading">
            <h2 id="heading">Codeial</h2>
        </div>
    

        
            <div id="signin">
                <a id="Signin" href = "/users/sign-in">Sign&nbspIn</a>
            </div>
            <div id="signup"> 
                <a id="Signup" href = "users/sign-up"> Sign&nbspUp</a>
            </div>
        
    </div>
    
</header>


