#heading {
  color: red;
  margin-left: 20%; }

#posts-list-container {
  width: 30%;
  margin-left: 2%;
  margin-top: 5%;
  border: 2px solid black; }
  #posts-list-container #Posts-heading {
    margin-left: 10%;
    color: brown;
    text-decoration: underline; }
